body{
background:darkblue;
}

h1{
color:yellow;
text-decoration:underline;
font-size:43px;
text-align:center;
}

p{
color:darkred;
background:lightpink;
font-size:30px;
font-weight:bold;
}

img{
height:400px;
width:500px;
border:8px solid white;
float:left;
}
