body{
background:rgb(0,0,0);
}

h1{
color:white;
font-size:48px;
text-align:center;
}

ol{
color:darkred;
background:lime;
font-size:26px;
}

ul{
color:purple;
background:lightpink;
font-size:28px;
}
